<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= todo.title %></title>
    <link rel="stylesheet" href="/todo.css" />
  </head>
  <body>
    <div class="todo-details">
      <h1><%= todo.title %></h1>
      <span class="date"
        >Создано: <%= new Date(todo.createdAt).toLocaleString('ru-RU') %></span
      >
      <p><strong>Описание:</strong> <%= todo.desc %></p>
      <p><strong>ID задачи:</strong> <code><%= todo._id %></code></p>

      <a href="/" class="btn-back">← Назад к списку</a>
    </div>
  </body>
</html>
